<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>

<body>

    <div class="container mt-5">
        <h1>Welcome, {{adminName}}!</h1>

        <!-- Example Graphs (using Chart.js and Bootstrap) -->
        <canvas id="myChart" style="max-width: 500px;"></canvas>

        <!-- View all Stations Link -->
        <a href="/stations" class="btn btn-primary mt-3">View all Stations</a>

        <!-- Add Station Button -->
        <button class="btn btn-success mt-3" data-toggle="modal" data-target="#addStationModal">Add Station</button>
    </div>

    <!-- Adding this part to the end of the body-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Chart.js code
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{{#each sales}}"{{this.StationID}}",{{/each}}],
                    datasets: [{
                        label: 'Total Sales $',
                        data: [{{#each total}}"{{this}}",{{/each}}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });
    </script>
</body>

</html>