<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Us</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .card {
            border: 1px solid #e4e7ea;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .card-header {
            background-color: #321fdb;
            color: #fff;
            font-size: 24px;
            text-align: center;
            padding: 20px;
        }

        .card-body {
            padding: 30px;
        }

        p, ul {
            font-size: 18px;
            color: #495057;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="c-app">
    <div class="c-wrapper">
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="card">
                            <div class="card-header">
                                <strong>Contact Us</strong>
                            </div>
                            <div class="card-body">
                                <p><strong>Location:</strong> Wakra in Doha, Qatar</p>
                                <p><strong>Email:</strong> AFM@gmail.com</p>
                                <p><strong>Phone Number:</strong> 39991929</p>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3611.2548152927116!2d51.60390877607449!3d25.160872433169757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45cb7bd0134e95%3A0x287e5fd3e7a6f9ba!2sOoredoo%20Tower%2C%20Al%20Wakrah!5e0!3m2!1sen!2sqa!4v1701434698478!5m2!1sen!2sqa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                <p><strong>Additional Details:</strong></p>
                                <ul>
                                    <li>Operating Hours: 9:00 AM - 6:00 PM (Sunday to Thursday)</li>
                                    <li>Customer Support: support@company.com</li>
                                    <li>Follow us on social media: @company_social</li>
                                </ul>
                                <!-- Additional details go here -->
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
