<!DOCTYPE html>
<html lang="en">

<head>
    <title>404 Not Found</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .error-container {
            display: flex;
            height: 100vh;
            flex-direction: column;
            text-align: center;
        }

        .error-code {
            font-size: 10rem;
            font-weight: bold;
            color: #dc3545;
        }

        .error-message {
            margin-top: 20px;
            font-size: 2rem;
            color: #343a40;
        }

        .back-button {
            margin-top: 20px;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            color: #fff;
            font-size: 1.2rem;
            transition: background-color 0.3s ease;
        }
    </style>
</head>

<body>
    <div class="error-container">
        <div class="error-code">500</div>
        <div class="error-message">The Server ran into an unexpected error</div>
        <div class="m-1">

            <a href="/HomePage" class="btn btn-primary p-2 docs-highlight ms-3 back-button ">Go
                to Homepage</a>
        </div>
    </div>
</body>

</html>