<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Reset Password</title>
  <script>
    function resetPassword() {
      var password = document.getElementById('Password').value;
      var confirmPassword = document.getElementById('ConPassword').value;
      var error = document.getElementById('error')

      if (password !== confirmPassword && password.value != "" && confirmPassword.value != "") {
        error.style.display = 'block';
        return false;
      }
      error.style.display = 'none';
      return true;
    }

  </script>
  <style>
    body {
      background-color: #f0f3f5;
    }

    .container {
      margin-top: 100px;
    }

    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .card-header {
      background-color: #321fdb;
      color: #fff;
      text-align: center;
      border-bottom: none;
      border-radius: 10px 10px 0 0;
    }

    .card-body {
      padding: 20px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .btn-primary {
      background-color: #321fdb;
      border: none;
    }

    .btn-primary:hover {
      background-color: #321fdb;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Reset Password</h3>
          </div>
          <div class="card-body">
            <form method="post" onsubmit="return resetPassword()">
              <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" id="Password" name="Password" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="ConPassword">Confirm Password</label>
                <input type="password" id="ConPassword" name="ConPassword" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Reset</button>
            </form>
          </div>
        </div>
        <div id="error" class="alert alert-danger alert fade show my-3" role="alert" style="display: none;">
          <strong>Alert:</strong> Invalid Values
        </div>
      </div>
    </div>
  </div>
</body>

</html>